/* General Styles */
body,
html {
    min-height: 457px;
    max-height: 457px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    position: relative;
    min-width: 320px;
    margin: 0;
}

.gray {
    background-color: rgb(40, 40, 40);
}

.white {
    color: rgb(255, 255, 255) !important;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    background-color: rgb(243, 186, 34);
    color: rgb(255, 255, 255);
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.banner-text {
    font-size: 18px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.alternate {
    color: rgb(255, 255, 255);
}

/* Headings */
h2 {
    font-size: 28px;
    color: rgb(31, 31, 31);
    margin: 0;
}

h3 {
    font-size: 18px;
    color: rgb(177, 158, 37);
    padding: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Section Styles */
section {
    padding: 5px 10px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}

/* Button Styles */
.button {
    cursor: pointer;
    background-color: rgb(243, 186, 34);
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 15px;
    margin: 8px 4px 0 0;
    transition: background-color 0.15s;
}

.button:hover {
    background-color: rgb(191, 141, 26);
}

/* Status Text */
.status {
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    margin: 5px 5px 15px 5px;
}

/* Switch Styles */
.switch {
    cursor: pointer;
    width: 32px;
    height: 17px;
    margin-top: 9px;
    display: inline-block;
}

.switch.on {
    background-image: url(../../assets/images/switch_on.png);
}

.switch.off {
    background-image: url(../../assets/images/switch_off.png);
}

/* Links */
.links a {
    font-size: 12px;
    color: rgb(177, 181, 184);
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

#github:hover {
    text-decoration: underline;
}

/* Page Handling */
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    align-items: center;
    padding: 0;
    margin-top: 11px;
    margin-bottom: 15px;
}

.arrow {
    cursor: pointer;
    padding: 0 5px;
    font-size: 18px;
}

.page-indicator {
    font-size: 16px;
}

.page {
    display: none;
    min-height: 457px;
    max-height: 457px;
}

.page.active {
    display: block;
}
