/* --------------------------------------------------
   General Styles
-------------------------------------------------- */
html, body {
    min-height: 457px;
    min-width: 320px;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    position: relative;
    box-sizing: border-box;
    overflow: auto !important;
}

.gray {
    background-color: rgb(40, 40, 40);
}

.white {
    color: rgb(255, 255, 255) !important;
}

/* --------------------------------------------------
   Banner
-------------------------------------------------- */
.banner {
    display: flex;
    align-items: center;
    background-color: rgb(243, 186, 34);
    color: rgb(255, 255, 255);
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.banner-text {
    font-size: 18px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* --------------------------------------------------
   Alternate Section Text
-------------------------------------------------- */
.alternate {
    color: rgb(255, 255, 255);
}

/* --------------------------------------------------
   Headings
-------------------------------------------------- */
h3 {
    font-size: 18px;
    color: rgb(177, 158, 37);
    padding: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* --------------------------------------------------
   Section Styles
-------------------------------------------------- */
section {
    padding: 5px 10px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}

/* --------------------------------------------------
   Status Text
-------------------------------------------------- */
.status {
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    margin: 5px 5px 15px 5px;
}

/* --------------------------------------------------
   Switch Styles
-------------------------------------------------- */
.switch {
    cursor: pointer;
    width: 32px;
    height: 17px;
    margin-top: 9px;
    display: inline-block;
}

.switch.on {
    background-image: url(../../assets/images/switch_on.png);
}

.switch.off {
    background-image: url(../../assets/images/switch_off.png);
}

/* --------------------------------------------------
   Links
-------------------------------------------------- */
.links a {
    font-size: 12px;
    color: rgb(177, 181, 184);
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

#github:hover {
    text-decoration: underline;
}

/* --------------------------------------------------
   Page Handling
-------------------------------------------------- */
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 11px;
    margin-bottom: 15px;
}

.arrow {
    cursor: pointer;
    padding: 0 5px;
    font-size: 18px;
}

.page-indicator {
    font-size: 16px;
}

.page {
    display: none;
    min-height: 457px;
    min-width: 320px;
}

.page.active {
    display: block;
}
